In [1]:
import pandas as pd

In [2]:
raw_movie_data = pd.read_json("movies.json")

In [3]:
raw_movie_data

,title,year,rating,genres,runtime,votes
0,The Shawshank Redemption,1994,9.3,[Drama],142,2743383
1,The Godfather,1972,9.2,"[Crime, Drama]",175,1907822
2,The Chaos Class,1975,9.2,"[Comedy, Drama]",87,41703
3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",152,2716231
4,Schindler's List,1993,9.0,"[Biography, Drama, History]",195,1384230
...,...,...,...,...,...,...
995,Train to Busan,2016,7.6,"[Action, Horror, Thriller]",118,234311
996,Moulin Rouge!,2001,7.6,"[Drama, Musical, Romance]",127,291180
997,Incredibles 2,2018,7.6,"[Animation, Action, Adventure]",118,309175
998,The Peanut Butter Falcon,2019,7.6,"[Adventure, Comedy, Drama]",97,94774
999,Kung Fu Panda,2008,7.6,"[Animation, Action, Adventure]",92,488244

In [4]:
movies = raw_movie_data.copy()

In [5]:
movies

,title,year,rating,genres,runtime,votes
0,The Shawshank Redemption,1994,9.3,[Drama],142,2743383
1,The Godfather,1972,9.2,"[Crime, Drama]",175,1907822
2,The Chaos Class,1975,9.2,"[Comedy, Drama]",87,41703
3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",152,2716231
4,Schindler's List,1993,9.0,"[Biography, Drama, History]",195,1384230
...,...,...,...,...,...,...
995,Train to Busan,2016,7.6,"[Action, Horror, Thriller]",118,234311
996,Moulin Rouge!,2001,7.6,"[Drama, Musical, Romance]",127,291180
997,Incredibles 2,2018,7.6,"[Animation, Action, Adventure]",118,309175
998,The Peanut Butter Falcon,2019,7.6,"[Adventure, Comedy, Drama]",97,94774
999,Kung Fu Panda,2008,7.6,"[Animation, Action, Adventure]",92,488244